@import '../../../../assets/styles/vars.scss';

.result-item {
  margin-top: 40px;
  width: 60%;
  & h3, p {
    margin-bottom: 24px;
  }
  & a:hover h3{
    color: $blue-color;
  }
  & p {
    color: $darkgray-color;
  }

  & span {
    color: $gray-color;
  }
}

/* table  */
@media screen and (max-width: 1000px) {
  .result-item {
    width: 100%;
  }
}

/* mobile (320px)*/
@media screen and (max-width: 450px) {
  
}
