@import '../../../assets/styles/vars.scss';

.section-password {
  margin-top: 40px;
  margin-bottom: 480px;
  &__wrapper {
    display: flex;
    justify-content: center;
  }
  &__window {
    width: 364px;
    height: 368px;
    padding: 24px;
    & h3 {
      text-align: center;
      margin-bottom: 16px;
    }
  }
  &__progress {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    border-bottom: 1px solid $lightgray-color;
  }
  &__stage {
    display: flex;
    margin-bottom: 16px;
    // width: 100px;
    font-size: 14px;
    & .stage-number {
      margin-right: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 28px;
      height: 28px;
      border: 1px solid $blue-color;
    }
    & .stage-text {
      width: 60%;
    }
  }

  &__submit {
    margin-top: 24px;
    margin-bottom: 16px;
    padding: 14px 95px;
    color: $white-color;
    font-weight: 700;
    background: $blue-color;
    border-radius: 4px;
  }

  &__agreement {
    font-size: 14px;
    & a {
      color: $blue-color;
    }
  }
}


