.card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  margin: 0;
  padding: 0;
  list-style: none;
}


/* table  */
@media screen and (max-width: 1000px) {
  .card-list {
    grid-template-columns: repeat(2, 1fr);
  }


}

/* mobile (320px)*/
@media screen and (max-width: 450px) {
  .card-list {
    grid-template-columns: 1fr;
  }
 }
