body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.text {
  color: rgb(179, 179, 179);
  font-size: 30px;
  padding-right: 8px;
}

.wrapper {
  background-color: rgb(55, 53, 62);
  padding: 50px;
  display: flex;
}

.wrapper_form {
  padding: 50px;

}

.wrapper-input {
  display: grid;
}