@import '../../../assets/styles/vars.scss';

@import '../../../assets/styles/vars.scss';

.page-footer {
  padding: 50px 0;
  background: $lightgray-color;
  margin-bottom: 80px;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    & .page-footer__title, & a {
      color:$gray-color;
      display: flex;
    }
  }
  &__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & div {
      opacity: 0.5;
      border-right: 1px solid $gray-color;
      height: 32px;
      margin-left:5px;
      margin-right: 5px;
    }
  }
  &__social a{
    margin-right: 24px;
  }
}

.social-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

/* mobile (320px)*/
@media screen and (max-width: 450px) {
  .page-footer {
    padding-top: 30px;
    padding-bottom: 60px;
    position: relative;

  }
  .page-footer__logo a:last-child, .page-footer__line {
    display: none;
  }
  .social-list__item a{
    margin-right: 8px;
  }

  .page-footer__copyright {
    position: absolute;
    left: calc(50% - 242px/2);
    bottom: 24px;
  }
 }